/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* colors */
:root {
  --HeaderTextColor: white;
  --ColorPalette1: #081826;
  --ColorPalette2: #073359;
  --ColorPalette3: #3f688c;
  --ColorPalette4: #a68c6d;
  --ColorPalette5: #f2ccb6;
}
@font-face {
  font-family: BarefoodSignBrush;
  src: url(../src/font/BarefoodSignBrush.ttf);
}
/* Header */
#headerNavbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
.headerNavbarChild a {
  text-decoration: none;
}
.headerNavbarChild {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--HeaderTextColor);
}
#headerNavbarImg {
  height: 2rem;
}
header {
  background-color: var(--ColorPalette1);
  padding: 1rem;
  height: 4vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--ColorPalette3);
}

/* sections */
.section1 {
  display: block;
  position: relative;
  height: 60vh;
}
#section1Background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: 0 20%;
  /* z-index: -1; */
  filter: opacity(50%);
  box-shadow: var(--ColorPalette1) 0px 0px 10px 3px;
}
#section1Title {
  position: absolute;
  color: var(--ColorPalette5);
  text-shadow: #081826 0px 0px 10px;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  /* z-index: 1; */
}

.section2 {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 80vh; */
  background-color: black;
  gap: 1rem;
  color: var(--ColorPalette5);
}

#section2Title {
  font-size: 7rem;
  font-weight: 300;
  text-align: center;
  /* margin-bottom: 1rem; */
  font-family: BarefoodSignBrush;
  color: white;
}
#section2Text {
  width: 50%;
  font-weight: 200;
}
.section2Img {
  width: 60%;
  height: auto;
  object-fit: cover;
  filter: opacity(100%);
  box-shadow: var(--ColorPalette4) 0px 0px 10px 1px;
}
.indexSection2 {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: opacity(100%);
  box-shadow: var(--ColorPalette4) 0px 0px 10px 1px;
}

/* book */
#bookImg {
  width: 50%;
  height: auto;
  object-fit: cover;
  filter: opacity(100%);
  box-shadow: var(--ColorPalette4) 0px 0px 10px 1px;
}
#buyButton {
  background-color: var(--ColorPalette2);
  color: var(--ColorPalette5);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

/* contact */
.contactLogos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* footer */
footer {
  background-color: var(--ColorPalette1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ColorPalette5);
  padding: 1rem;
  height: 4vh;
  gap: 0.5rem;
}
.footerText,
.footerText h2 {
  display: inline;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
}
.footerSpan {
  text-decoration: solid underline var(--ColorPalette5) 1px;
  /* text-decoration: ; */
  font-weight: 300;
  /* font-size: 0.8rem; */
}
